.container-drag {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}


.draggable {
    width: 200px;
    height: 100px;
    margin: 10px auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

div .droppable {
    background-color: #EAEAEB;
    min-height: 500px;
    width: 220px;
}

div .wishlist {
    background-color: #EAEAEB;
    min-height: 500px;
    width: 220px;
}

p {
    margin: 1px;
    text-align: left;
}

.task-header {
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
    border-bottom: .1px solid black;
}

p.name {
    font-weight: regular;
    font-family: 'Lato', sans-serif;
}

p.title {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: .85em;
}

p.location {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: .85em;
}

.add-job-btn {
    background-color: #FF439E;
    color: white;
    font-size: .8em;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    text-align: center;
}

.flex-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px 0px;
    align-items: center;
}