.container-drag {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
}


.draggable {
    width: 200px;
    height: 100px;
    margin: 10px auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-card-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
}

div .droppable {
    background-color: #EAEAEB;
    min-height: 500px;
    width: 220px;
}

div .wishlist {
    background-color: #EAEAEB;
    min-height: 500px;
    width: 220px;
}

p {
    margin: 1px;
    text-align: left;
}

.job-header {
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: 100;
    border-bottom: .1px solid black;
    display: flex;
    flex-direction: column;
}

.job-header img {
    width: 32px;
    height: 32px;
    margin: 10px auto 1px;
}

p.name {
    font-weight: regular;
    font-family: 'Lato', sans-serif;
}

p.title {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: .85em;
}

p.location {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: .85em;
}

.add-job-btn {
    background-color: #FF439E;
    color: white;
    font-size: .8em;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    text-align: center;
}

.flex-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px 0px;
    align-items: center;
}

.fake-btn {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 70px;
    height: 80px;
}

.a-details {
    float: right;
    margin-top: 5px;
    font-size: .75em;
    text-decoration: underline;
}

.flex-detail-item {
    display: flex;
    flex-direction: row;
}

.flex-detail-item p {
    font-weight: lighter;
    margin-left: 10px;
    text-align: right;
}

.flexForm-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delete-btn {
    width: 10px;
    justify-content: right;
    padding-top: 2px;
    margin-left: 100px;
    margin-right: 0px;
}

.flex-close-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}