body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F6F9;
  color: #363636;
}

h1 {
  font-weight: 100;
  font-size: 3.2em;
  text-align: left;
  line-height: .75em;
}

h2 {
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bold {
  font-weight: 900;
}

.flex-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 170px 250px 0 250px;
}

.flex-log-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-log-on {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}

.btn-log-on {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #276EF1;
  border: none;
  color: white;
  font-weight: 400;
  font-size: .75em;
  margin: 0 auto;
}

.sign-up {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  margin: 15px auto;
}

.sign-up-click {
  text-decoration: underline;
}

.flexForm {
  display: flex;
  flex-direction: column;
}

.sign-up-btn {
  background-color: #276EF1;
  color: white;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
}

.btn-center-flex {
  display: flex;
  justify-content: center;
}